.body{
    margin: 5rem;
}

.heading-text{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 25%;
    text-align: center;
    
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*form code*/

.input-group-append {
    cursor: pointer;
  }